@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* shared style */
.disply-flex{
    display: flex;
}


/* navbar section */
.navbar{
    justify-content: space-around;
    padding: 30px;
    gap: 30px 150px 120px;
}

.nav-links{
  margin-top: 2.25rem;
}

.nav-item{
  list-style: none;
  padding-right: 44px;
}

.nav-link{
  text-decoration: none;
}

.home{
  font-weight: bold;
  color: #252432;
}

.shop{
  font-weight: 500;
  color: #8987A1;
}

.cart{
  color: black;
}


/* banner section */
.banner{
  display: flex;
  justify-content: center;
  gap: 120px 150px;
  padding-top: 120px;
}

.banner-title{
  font-size: 60px;
  font-weight: bold;
}

.banner-description{
  color: #7e7d7d;
  font-size: 22px;
}

.fresh, .flower{
  color: #E95A08;
}


@media screen and (max-width: 576px) {
  .home, .shop, .always{
    display: none;
  }
  .nav-cart{
    margin: auto;
  }

  .flower{
    font-size: 25px;
    font-weight: bold;
  }

  .banner{
    flex-direction: column-reverse;
    padding: 28px 16px 0px 16px;
  }

  .banner-description{
   font-size: 16px;
   font-weight: 500;
  }
}