@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #f4f6fb;
  margin: 0;
  padding: 0;
  color: #333;
}

/* shared style */
.disply-flex{
    display: flex;
}


/* navbar section */
.navbar{
    justify-content: space-around;
    padding: 30px;
    gap: 30px 150px 120px;
}

.nav-links{
  margin-top: 2.25rem;
}

.nav-item{
  list-style: none;
  padding-right: 44px;
}

.nav-link{
  text-decoration: none;
}

.home{
  font-weight: bold;
  color: #252432;
}

.shop{
  font-weight: 500;
  color: #8987A1;
}

.cart{
  color: black;
}


/* banner section */
.banner{
  display: flex;
  justify-content: center;
  gap: 120px 150px;
  padding-top: 120px;
}

.banner-title{
  font-size: 60px;
  font-weight: bold;
}

.banner-description{
  color: #7e7d7d;
  font-size: 22px;
}

.fresh, .flower, .our{
  color: #E95A08;
}


/* plants section */

.plans{

}

.plants-title{
  text-align: center;
  font-size: 2.5em;
  margin-top: 120px;
}

.plants-description{
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px auto;
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.product-card{
  padding: 10px;
  text-align: center;
}

.product-card img{
  width: 100%;
  height: auto;
}

.product-name{
  margin: 10px 0 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  background-color: #f25d07;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}


/* plants lover seection */

.plants-lover{
  background-color: #f4f6fb;
  padding: 40px 20px;
}

.plants-lover-content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}

.img-plants {
  position: relative;
  flex: 1;
  min-width: 250px;
}

.feature-img {
  width: 100%;
  border-radius: 8px;
}

.badge-img {
  position: absolute;
  top: -70px;
  left: 65%;
  transform: translateX(40%);
  width: 180px;
}

.lover-text-content {
  flex: 1;
  min-width: 280px;
}

.lover-text-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.lover-text-content ul {
  list-style: disc;
  padding-left: 20px;
  color: #777;
}

.lover-text-content li {
  margin-bottom: 15px;
  line-height: 1.6;
}




@media screen and (max-width: 576px) {
  .home, .shop, .always, .badge-img{
    display: none;
  }
  .nav-cart{
    margin: auto;
  }

  .flower{
    font-size: 25px;
    font-weight: bold;
  }

  .banner{
    flex-direction: column-reverse;
    padding: 28px 16px 0px 16px;
  }

  .banner-description{
   font-size: 16px;
   font-weight: 500;
  }

  /* plants section */
  .product-grid{
    flex-direction: column;
    grid-template-columns: repeat(2, 4fr);
  }
}